<div class="container">

    <h1 class="d-flex justify-content-center" id="projectName"><<< Check the gender of a name >>></h1>

    <!-- Sticky navbar -->
    <nav class="navbar navbar-light bg-light d-flex flex-row justify-content-center" id="header">
        <div class="row text-center">
            <ul>
                <li class="p-2"> Web interface for checking the gender of a name, via consumed public API</li>
                <li class="p-2">Storing data in a database</li>
                <li class="p-2">Validating and storing only the eligible names</li>
                <li class="p-2">AJAX data loading</li>
                <li class="p-2">Exporting data to CSV</li>
            </ul>
        </div>
    </nav>

        <div class="col text-center">
            <button type="button" class="btn btn-primary p-2" id="data_loader"
                onclick="loadDB()">
                Process names from DB source
            </button>
        </div>
        <div class="col text-center">
            <p> or search a name you want</p>
        </div>
        <div class="col text-center">
            <input type="search" name="search" class="form-control" id="search_input" placeholder="Enter name...">
            <button type="submit" class="btn btn-warning p-2" id="search_btn">
                Search
            </button>
        </div>

    <!-- The table with the data -->
    <table class="table table-striped table-dark">
        <thead class="sticky-top" id="tableHeader">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Probability</th>
                <th scope="col">Counter</th>
            </tr>
        </thead>
        <tbody id="tbody_data">
        </tbody>
    </table>

    <input class="btn btn-info" type="reset" value="Go To Top" id="scrollTop" onclick="goToTop()">

    <!-- <form action="Api/export.php" method="POST" id="exportToCSV"> -->
    <form action="/export" method="POST" id="exportToCSV">
        <input class="btn btn-danger" type="submit" value="Export CSV" class="export" id="exportBtn" name="export">
    </form>

    <!-- Modal with data -->
    <div id="dataModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div id="input-data">
                        <label for="data-name">Name</label>
                        <input type="text" readonly id="data-name" name="data-name"></input><br/>
                        <label for="data-gender">Gender</label>
                        <input type="text" readonly style="font:20px Verdana bold" id="data-gender"></input><br/>
                        <label for="data-probability">Probability</label>
                        <input type="text" readonly style="font:20px Verdana bold" id="data-probability"></input><br/>
                        <label for="data-count">Counter</label>
                        <input type="text" readonly style="font:20px Verdana bold" id="data-count"></input>
                    </div>
                    <div id="no-data">
                        <p>No more record to load from the source database</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader animation -->
    <div id="container-loader">
        <div class="yellow"></div>
        <div class="red"></div>
        <div class="blue"></div>
        <div class="violet"></div>
    </div>

  </div>
