
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);
}

#data-name {
    font-style: 20px Verdana bold;
}

/* Sticky Side buttons for scroll to top & Export to CSV */
#scrollTop{
    position: relative;
    left: -120px;
    bottom: 100px;
    font-size: 14px;
    width: 100px;
}
#exportToCSV{
    display: inline-block;
    position: relative;
    /* right: -120px; */
    left: 92%;
    bottom: 100px;
    width: 100px;
    font-size: 14px;
}

/* Footer */
#footer_div{
    background-color: rgba(0, 0, 0, 0.2);
}

#info {
    font-style: 20px Verdana bold;
    color: #4e2edf;
    text-align: center;
}

/* Search Input Button and overwrite bootstrap for the x-tick */
#search_input{
    width:auto !important;
    display:inline-block !important;
}
#search_btn{
    display:inline-block !important;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/* Modal box */
.modal-content{
    background-color: #bfbfbf;
}
.modal-content .modal-body{
    padding:25px;
}
.modal-content .modal-body p{
    font:20px Verdana bold;
    padding:25px;
}
.modal-content .modal-footer button{
    font-family: Verdana;
}

/* Container Loader Animation */
:root {
    --yellow: #feb60a;
    --red: #ff0062;
    --blue: #00dbf9;
    --violet: #da00f7;
}
div#container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-loader > div {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
    animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
    animation-delay: 0.1s;
}

.blue {
    background-color: var(--blue);
    animation-delay: 0.2s;
}

.violet {
    background-color: var(--violet);
    animation-delay: 0.3s;
}

.header{
    color: #00dbf9;
}
@keyframes bounce {
    0%, 50%, 100% {
        transform: scale(1);
        filter: blur(0px);
    }
    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }
    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}
